.container{
    width: 600px;
    // height: 450px;
    height: 530px;
    // background-color: rgb(122 175 183);
    translate: 65% 10%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.wrapper{
    display: flex;
    padding:20px;
    width:auto;
    justify-content: space-between;
    
    h3{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    input{
        width: 50%;
        height: 6vh;
        border:none;
        border-radius: 13px;
        text-align:center;
    }
}
mat-icon{
    // margin: 10px;
    font-weight: 300;
    font-size: 30px;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  mat-nav-list{
    padding:10px;
    display: flex;
  }
  .list-item{
        display: flex;
        flex:2;
        position: relative;
        justify-content: space-between;
        overflow: hidden;
        padding: 0;
        align-items: stretch;
        cursor: pointer;
        padding-left: 16px;
        padding-right: 16px;
        // background-color: gainsboro;
        background-color: #dbe9ef;
        border-radius: 24px;
        
        .actions{
            display: flex;
        }
  }

  .container-task{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    
    .wrapper-task{
        position: absolute;
        background: white;
        padding: 20px;
        border-radius: 8px;
        min-width: 300px;
        max-width: 90%;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        z-index: 1001;
    }

  }

.delete-btn{
    position: absolute;
    top:86%;
    left:80%;
}

.toaster-container{
    position: absolute;
    top:40%;
    // left:20%;
    width: 300px;
    height: 100px;
    z-index: 1000;
    translate: 10% 40%;
    background-color: green;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notFound{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10%;
    font-weight: bolder;
    animation: textAnimation 2s infinite;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
    text-decoration-thickness: 10px;
}
.toaster-container{
    position: absolute;
    top:39%;
    // left:20%;
    width: 300px;
    height: 75px;
    z-index: 1000;
    translate: 50% 40%;
    background-color: green;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: toaster 0.7s normal ease-out;
}
.content-box{
    overflow-y: auto;
    max-height:325px;
}

@keyframes toaster{
    0%{
        transform: scale(10%);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes textAnimation{
    0%,30%{
        color:rgb(110, 8, 8);
        // text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.22);
    }
    40%,70%{
        color:rgb(2, 58, 59);
        // text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.22);
    }
    80%,100%{
        color:crimson;
        // text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.22);
    }
    100%{
        color:rgb(3, 104, 79);
        // text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.22);
    }
}
  @media (max-width:'865px') {
    .container{
        height: 550px;
        width: 300px;
        translate: 7% 9%;
        padding: 10px;
  }

}


@media (min-width:'375px') and (max-width:'667px') {

    .delete-btn{
                position: absolute;
                left:63%;
                top:90%
             }

    .toaster-container{
        position: absolute;
        // top:29%;
        left:-2px;
        width: 260px;
        height: 75px;
        z-index: 1000;
        translate: 18% 0%;
        background-color: green;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: toaster 0.7s normal ease-out;
    }
}

@media (min-width:'390px') and (max-width:'844px') {

    .delete-btn{
                position: absolute;
                left:63%;
                top:90%
    }

    .toaster-container{
        position: absolute;
        // top:29%;
        left:-2px;
        width: 260px;
        height: 75px;
        z-index: 1000;
        translate: 18% 0%;
        background-color: green;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: toaster 0.7s normal ease-out;
    }

    .content-box{
        max-height: 425px;
        overflow-y: auto;
     }
     .container{
        height: 673px;
        width: 300px;
        translate: 12% 9%;
        padding: 10px;
     }
}

@media (min-width:'430px') and (max-width:'932px') {

    .delete-btn{
                position: absolute;
                left:63%;
                top:90%
    }

    .toaster-container{
        position: absolute;
        // top:29%;
        left:-2px;
        width: 260px;
        height: 75px;
        z-index: 1000;
        translate: 18% 0%;
        background-color: green;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: toaster 0.7s normal ease-out;
    }

    .content-box{
        max-height: 475px;
        overflow-y: auto;
     }
     .container{
        height: 731px;
        width: 329px;
        translate: 12% 9%;
        padding: 10px;
     }
}

@media (min-width:'412px') and (max-width:'915px') {

    // .delete-btn{
    //             position: absolute;
    //             left:63%;
    //             top:90%
    // }

    // .toaster-container{
    //     position: absolute;
    //     // top:29%;
    //     left:-2px;
    //     width: 260px;
    //     height: 75px;
    //     z-index: 1000;
    //     translate: 18% 0%;
    //     background-color: green;
    //     color:white;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     animation: toaster 0.7s normal ease-out;
    // }

    .content-box{
        max-height: 475px;
        overflow-y: auto;
     }
     .container{
        height: 731px;
        width: 329px;
        translate: 12% 9%;
        padding: 10px;
     }
}

@media(min-width:'360px') and (max-width:'740px'){
    .delete-btn{
        position: absolute;
        left:63%;
        top:90%
     }
     .toaster-container{
        position: absolute;
        // top:29%;
        left:-2px;
        width: 260px;
        height: 75px;
        z-index: 1000;
        translate: 20% 30%;
        background-color: green;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: toaster 0.7s normal ease-out;
    }

}