
<button style="float: right;left:17px;top:-15px" mat-icon-button (click)="onClose()"><mat-icon fontIcon="close" style="font-size: 22px;">close</mat-icon></button>

<mat-card style="display: flex;height: 250px;width: 100%;padding:10px;">
    <mat-card-header style="display:flex; flex:1">
        <mat-card-title>{{showData.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content style="display:flex;flex:1">
        <p>{{showData.description}}</p>
    </mat-card-content>
</mat-card>
    